{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-5 d-none d-lg-block"></div>
              <div class="col-lg-7">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">You are now logged out</h1>
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Thanks for visiting!</h1>
                  </div>
                  <br>
                  <br>
                  <br>
                  <hr>

                  <div class="text-center">
                    <a class="small" href="{% url 'core:login'%}">Click here to log in again</a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block extrascripts %}{% endblock extrascripts %}