{%extends "base.html"%}
{%block content%}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <div class="h3 mb-0">Contracts</div>
</div>

{% if user.is_authenticated %}
  
  <!-- Content Row -->
  <div class="row">

    <div class="col-xl-12 col-lg-12">
      <div class="card mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
          <h6 class="m-0 font-weight-bold">Your contracts</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <a href="{% url 'core:contract_new'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary mb-4"><i class="fas fa-user-plus fa-sm text-white-50"></i> Add contract</a>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-dark" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Reference id</th>
                    <th>Status</th>
                    <th>Status date</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Reference id</th>
                    <th>Status</th>
                    <th>Status-date</th>
                    <th>Link</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for contract in contracts %}
                    <tr>
                      <td>{{ contract.id }}</td>
                      <td>{{ contract.status }}</td>
                      <td>{{ contract.status_date }}</td>
                      <td><a href="{% url 'core:contract_detail' contract.id %}"><i class="material-icons">see</i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <h5 class="center-align">Please log in to access this page.</h5>
  <a class="btn btn-warning login-btn mb-3" href="{%url 'core:login' %}">Login</a>

  {% endif %}


{% endblock %}