{% extends "base.html" %}
{% block content %}

<!-- Content Row -->
<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
        <h6 class="m-0 font-weight-bold ">Contract #{{ contract.id }} schedules</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
         <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Schedule id</th>
                  <th>Amount</th>
                  <th>RV</th>
                  <th>Link</th>
                </tr>
              </thead>

              <tbody>
                {% for schedule in schedules %}
                  <tr>
                    <td>{{ schedule.id }}</td>
                    <td>€ {{ schedule.amount|floatformat}}</td>
                    <td>€ {{ schedule.rv|floatformat }}</td>
                    <td><a href="{% url 'core:schedule_detail' schedule.id %}"></a></td><i class="fa fa-calendar"></i>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
{% endblock %}

{% block extrascripts %}{% endblock %}