{% extends "base.html" %}

{% block content %}

<!-- Card Body -->
<div class="card-body">
  <div class="chart-area">
<ul>
  Customer details
<li> Reference id: {{ customer.id }}</li>
<li> City: {{ customer.city }}</li>
<li> Owner: {{ customer.user }}</li>
</ul>
  </div>
</div>

      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
         <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Contract id</th>
                  <th>Customer</th>
                  <th>Status</th>
                  <th>Link</th>
                </tr>
              </thead>

              <tbody>
                {% for contract in contracts %}
                  <tr>
                    <td>{{ contract.id }}</td>
                    <td>{{ contract.customer }}</td>
                    <td>{{ contract.status }}</td>
                    <td><a href="{% url 'core:contract_detail' contract.id %}"><i class="material-icons">see</i></a></td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
        
{% endblock %}

{% block extrascripts %}{% endblock %}