{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
<div class="h3 mb-0">New customer</div>
</div>

{% if user.is_authenticated %}
    <div class="card bg-secondary border-dark">
        <div class="card-body">
            <form action="{% url 'core:customer_new' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
{% else %}
    <h5 class="center-align">Please log in to access this page.</h5>
    <a class="btn btn-warning login-btn mb-3" href="{%url 'core:login' %}">Login</a>
{% endif %}

{% endblock content %}
{% block extrascripts %}
{% endblock extrascripts %}