{%extends "base.html"%}
{% load static %}

{%block content%}

{% if user.is_authenticated %}
  
  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-primary">
          <h6 class="m-0 font-weight-bold">Contract #{{ schedule.contract }}   /  Schedule #{{ schedule.id }}</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-dark" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Rent</th>
                    <th>Balance</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Date</th>
                    <th>Rent</th>
                    <th>Balance</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for step in steps %}
                    <tr>
                      <td>{{ step.date|date:"Y F" }}</td>
                      <td>€ {{ step.rent|floatformat}}</td>
                      <td>€ {{ step.balance|floatformat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <h5 class="center-align">Please log in to access this page.</h5>
  <a class="btn btn-warning login-btn mb-3" href="{%url 'core:login' %}">Login</a>

  {% endif %}


{% endblock %}