.rc-slider-track {
  background-color: blue;
  height: 60,
}

.rc-slider-dot-active {  
  border-color: red;
  border: solid 2px red;
  height: 60,
}

.rc-slider-handle {
  background-color: red;
  border-color: red;
  height: 60,
}

.rc.slider-handle:hover {
  border-color: red;
  height: 60,
}

.rc.slider-handle-active:active {
  border-color: red;
  height: 60,
}

.slider-selection {
	background: #BABABA;
}