
.rc-slider-rail {
	height: 24px;
}

.rc-slider-track {
	height: 24px;
	background-color: #858796;
}


.rc-slider-handle {
	background-color: #4e73df;
	height: 30px;
	width: 24px;
	border-radius: 5px;
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}