<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Lease quote calculation">
  <meta name="keywords" content="lease leasing quote calculation">
  <meta name="yarig" content="lease quote">

  {% load plotly_dash%}
  {% load static %}
  {% load bootstrap4 %}
  {% bootstrap_messages %}

  <title>{% block title%}Lease solver{% endblock%}</title>

  <link href="{% static 'favicon.ico' %}" rel='icon'>

  {% block extra_header%}
  <!-- Custom icons -->
  <link rel="stylesheet" href="{%static 'fontawesome-free/css/all.min.css' %}"></link>
  <!-- Custom fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  {% endblock%}

  <!-- Custom styles for this template-->
  {% block app_header_css%}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% endblock%}

  {% plotly_header%}

</head>


<body id="page-top">

    {% block header %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <a class="navbar-brand" href="#">Lease solver</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{%url 'home' %}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'core:dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quotes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{%url 'quote:create_quote' %}">Direct quote</a>
                <a class="dropdown-item" href="{%url 'quote:create_reverse' %}">Reverse quote</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customers
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{%url 'core:customers_list' %}">Customer List</a>
                <a class="dropdown-item" href="{%url 'core:customer_new' %}">Create customer</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contracts
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{%url 'core:contracts_list' %}">Contract List</a>
                <a class="dropdown-item" href="{%url 'core:contract_new' %}">Create contract</a>
              </div>
            </li>
          </ul>
          
        {% if user.is_authenticated %}
        <form class="form-inline my-2 my-lg-0">
          <a href="{%url 'core:logout' %}" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</a>
        </form>
        {% else %}
          <form class="form-inline my-2 my-lg-0">
            <a href="{%url 'core:login' %}" class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</a>
          </form>
        {% endif %}
        </div>
      </nav>
  {% endblock header %}

  <!-- Begin Page Content -->
  <div class="container">
    {% block content%}{% endblock%}
  </div>
  <!-- End of Main Content -->

  <!-- Scroll to Top Button-->

  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-2x fa-angle-up"></i>
    </a>


    {% plotly_footer%}
    
  <!-- Footer -->
  <footer class="sticky-footer">
    <div class="bg-secondary">
      <div class="copyright text-center my-4">
        <br>
        <span>Yarig Lease solver 2020    -   Thanks to Django / Bootstrap4 / Plotly Dash / Django Plotly Dash / Bootswatch Darkly</span>
        <br>
        <br>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

</body>

{% bootstrap_javascript jquery='full' %}

<script>

      // Navbar active item
      $(".navbar .nav-item").removeClass('active');
      $('a[href="'+location.pathname+'"]').closest('li').addClass('active');

      // Scroll to top button appear
      $(document).on('scroll', function() {
        var scrollDistance = $(this).scrollTop();
        if (scrollDistance > 100) {
          $('.scroll-to-top').fadeIn();
        } else {
          $('.scroll-to-top').fadeOut();
        }
      });

      // Smooth scrolling using jQuery easing
      $(document).on('click', 'a.scroll-to-top', function(e) {
        var $anchor = $(this);
        $('html, body').stop().animate({
          scrollTop: ($($anchor.attr('href')).offset().top)
        }, 1000, 'easeInOutExpo');
        e.preventDefault();
      });


</script>

</html>